/IsPrime.class
/Pattern1.class
/Practcie108.class
/Practice101.class
/Practice102.class
/Practice103.class
/Practice104.class
/Practice105.class
/Practice106.class
/Practice107.class
/Practice109.class
/Practice110.class
/Practice111.class
/Primeno.class
/Primeno1.class
/Reverse.class
/Test.class
/cs.class
/evenodd.class
/fo.class
/j.class
/largest3nos.class
/oddeven.class
/sumofoddnoplacesandeven.class
