/CheckPrime.class
/CheckUpperLowerCase.class
/CountPrime.class
/CountPrimeSieve.class
/GreatestOfThreeNos.class
/IsPalindrome.class
/MultiplicativeInverse.class
/OddEven.class
/ReverseANo.class
/ReverseVowel.class
/SimpleInterest.class
/SimpleWhileLoop.class
/Swap_nums.class
/Test.class
/TillPrime.class
/UniqueCharString.class
/binarySearchWithTwist.class
/checker.class
/factorial.class
/fibonacci.class
/perfectNo.class
